<html>
  <body>
  Hello World! <?php echo " and Hello PHP!"; ?><br/><br/>

  PHP Extensions:
  <?php
  print_r(get_loaded_extensions());
  ?>
  <br/><br/>

  DB Connection Test:
  <br/>
  <?php
    <% @databases.each_with_index do |database, index| %>
      $servername<%= index %> = "<%= @db_domain %>";
      $username<%= index %>   = "<%= database['user'] %>";
      $password<%= index %>   = "<%= database['password'] %>";
      $database<%= index %>   = "<%= database['db'] %>";

      // Create connection
      $conn<%= index %> = new mysqli($servername<%= index %>, $username<%= index %>, $password<%= index %>, $database<%= index %>);

      // Check connection
      if ($conn<%= index %>->connect_error) {
        echo ("Connection failed to host:<%= @db_domain %> database:<%= database['db'] %> error:" . $conn<%= index %>->connect_error . "<br/>");
      }else{ 
        echo ("Connected to host:<%= @db_domain %> of database:<%= database['db'] %> successfully<br/>");
      }
    <% end %>
  ?>
  <br/><br/>

  Memcached Connection Test:
  <?php
    $m = new Memcached();
    <% node['w_memcached']['ips'].each do |ip| %>
    $m->addServer('<%= ip %>', 11211);
    <% end %>
    echo "Setting <br/> \$m->set('foo', 100);  \$m->get('foo') Result:";
    $m->set('foo', 100);
    var_dump($m->get('foo'));
  ?>

  </body>
</html>